body {
  text-align: center;
}

textarea {
  width: 32%;
  float: top;
  min-height: 350px;
  overflow: scroll;
  margin: auto;
  display: inline-block;
  background: #e5f950;
  outline: none;
  font-family: Courier, sans-serif;
  font-size: 20px;
}

iframe {
  bottom: 0;
  position: relative;
  width: 50%;
  height: 15em;
  background: #21d8f0;
}